@font-face {
    font-family: "right"; /* para la foto del carousel */
    src: url("Fuentes/RIGHT.otf") format("woff2"); /* chrome、firefox */
}

.footer {
    background-color: #FEEEB3;
    height: 20px;
}

.wrapper {
    display: block;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}

/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}

.barraDeBusqueda {
    border: 0px;
    width: 100%;
    padding-left: 20%;
}

.barraDeBusqueda:focus {
    outline: 0;
    box-shadow: 0 0 0 0.0rem #FEEEB3;
    border: 0px;
}

.botonIniciarSesion {
    background-color: #F2AF5C;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    margin-left: 80%;
}

.botonIniciarSesion:hover {
    color: white;
}

.botonIniciarSesion:focus {
    outline: 0;
    box-shadow: 0 0 0 0.0rem #F2AF5C;
}

body {
    background-image: url("Imagenes/fondoTorcido.png");
    background-size: cover;

}


.modal-title, .ingredientesTitulo, .items, .informacionExtra {
    font-family: right;

}

.items {
    font-size: 80%
}

.ingredientesTitulo, .informacionExtra {
    font-size: 90%;
}

.informacionExtra {
    padding-bottom: 4%;
}

.infoReceta {
    align-items: center;
}

.gorroChef, .personas {
    width: 10%;
    height: 10%;
}

.lapizEditar {
    position: absolute;
    left: 92%;
}

.boton {
    background-color: #F2AF5C;
    font-family: right;
    font-size: 15px;
    position: absolute;
    color: #FEEEB3;
}

#botonGuardar {
    left: 35%;
}

#botonNoGuardar {
    left: 30%;
}

#botonAniadirAlMenu, #quitarMenu {
    left: 60%;
}

.botonGuardar {
    background-color: #F2AF5C;
    font-family: right;
    font-size: 15px;
    position: absolute;
    left: 20%;
}